<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-lazy-init="false">
    <context:annotation-config/>

    <context:component-scan base-package="com.dj,com.dj.boot"/>
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:prop/application.properties</value>
                <value>classpath:prop/ips.properties</value>
                <value>classpath:prop/mq.properties</value>
            </list>
        </property>
        <!--<property name="properties" ref="secApplicationProperties"/>-->
    </bean>



    <!--导入xml文件  spring-dispatch-proxy.xml    UserServiceImpl 的 @Primary 去掉  builder.getRawBeanDefinition().setPrimary(true)-->
    <!--导入 解析import并解析  当遇到proxy 当遇到自定义标签 然后就去Spring.handlers  Spring.schemas 找到对应的handler 和XSD
                              找到对应的handler 调用init方法 和解析器Parser 调用parse方法进行解析 注册beanDefinition-->
    <!--<import resource="classpath:/spring/spring-dispatch-proxy.xml"/>-->

    <import resource="classpath:/spring/beans.xml"/>
    <import resource="classpath:spring/key-config.xml"/>
    <import resource="classpath:/spring/spring-bean.xml"/>
    <import resource="classpath:/spring/spring-sequence.xml"/>
    <import resource="classpath:/spring/dateConverter.xml"/>
    <import resource="classpath:/spring/spring-feedback.xml"/>

    <!--permission start-->
    <import resource="classpath:spring/permission/spring-config-login.xml"/>
    <import resource="classpath:spring/permission/spring-config-permission.xml"/>
    <!--permission end-->







</beans>
